<!DOCTYPE html>
<html lang="en">
<head>
    <title>analytic</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
         <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
     <link rel="stylesheet" href="css/newstyle.css">
      <link rel="stylesheet" href="css/analyt.css">
     
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>

</head>
<body>
      <div class="container">
  {{>aside analyticclass="active"}}
  <div class="middle-container">
   {{>analyticscontents}} 
  </div>
  {{>right}}
</div>
<script>
    const themeToggler = document.querySelector('.theme-toggler');
themeToggler.addEventListener('click',()=>{
    document.body.classList.toggle('dark-theme-variables')
    themeToggler.querySelector('span:nth-child(1').classList.toggle('active')
    themeToggler.querySelector('span:nth-child(2').classList.toggle('active')
})
</script>
</body>
</html>
