

<body>
    <div class="analyticcontainer">
        <h1>Analytics Dashboard</h1>
        <div class="scopesection">
         
                 <form class="scanForm">
                   <select id="analyticscope" onchange="toggleanalytics()">
                     <option value="" disabled selected>Select your scope</option>
                     
                 </select>
                 
                 </form>
 </div>
        <div id="chart-container"></div>
    </div>
    <script src="analytscript.js"></script>
</body>
