<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="middle-div">
        {{>dash}}
    </div>

    <script>

         document.addEventListener('DOMContentLoaded', () => {
    // Select all sidebar links
    const sidebarLinks = document.querySelectorAll('.sidebar a');

    sidebarLinks.forEach(link => {
        link.addEventListener('click', (e) => {
            // Remove 'active' class from all sidebar links
            sidebarLinks.forEach(item => item.classList.remove('active'));

            // Add 'active' class to the clicked link
            e.currentTarget.classList.add('active');
        });
    });
});

    </script>
</body>

</html>